= simple_form_for quote, html: { class: "quote form" } do |f|
  = f.input :name, label: false, required: true, input_html: { class: "input input-bordered w-full max-w-sm" }
  = f.submit class: "btn btn-secondary mt-4"
